<p>
  Hello, <b><%=h @user.login %></b>
</p>

<% unless @user.default_language %>
  <p>Please note, that your default language <b>was not set</b>! <%= link_to 'Edit settings...', edit_account_path %></p>
<% end %>


Search: <br />
<%= render :partial => 'phrases/search', :locals => {:target => new_phrase_path, :label => "Add new phrase"} %>

<br /><br />

Five oldest phrases w/o translations:
<%
  ps = Phrase.all(
    :limit => 5,
    :order => "created_at",
    :joins => "LEFT JOIN `translations` ON `translations`.source_id = `phrases`.id",
    :group => "`phrases`.id",
    :having => "count(`translations`.id) = 0"
  )

  ps.each do |p| %>
  <%= render :partial => "phrases/phrase", :locals => {:phrase => p, :show_user => true} %>
<% end %>

<br /><br />

Five recent phrases:
<%
  ps = Phrase.all(:limit => 5, :order => "created_at DESC")

  ps.each do |p| %>
  <%= render :partial => "phrases/phrase", :locals => {:phrase => p, :show_user => true} %>
<% end %>

<br /><br />

Ten latest translations:
<%
  trans = Translation.all(:limit => 10, :order => "created_at DESC")

  trans.each do |t| %>
  <%= render :partial => "translations/translation", :locals => {:translation => t, :show_user => true} %>
<% end %>
